*, *::before, *::after {
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

@-webkit-keyframes move-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes move-from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes move-from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes move-from-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.heading-primary--main {
  letter-spacing: 3.5rem;
  display: block;
  font-size: 6rem;
  font-weight: 400;
  -webkit-animation-name: move-from-left;
          animation-name: move-from-left;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  letter-spacing: 17.4px;
  font-size: 20px;
  font-weight: 400;
  -webkit-animation-name: move-from-right;
          animation-name: move-from-right;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: .5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  -webkit-transform: skewY(20deg) scale(1.5);
          transform: skewY(20deg) scale(1.5);
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.u-center-text {
  text-align: center;
}

.u-8rem-margin {
  margin-bottom: 8rem;
}

.u-1.5rem-margin {
  margin-bottom: 1.5rem;
}

.u-8rem-margin-top {
  margin-top: 58rem;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

@media only screen and (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}

.features {
  padding: 30rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  height: 500%;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
  margin-top: -8vh;
}

.tours {
  padding: 50rem 0 15rem 0;
  margin-top: -55vh;
  background-color: #f7f7f7;
}

.stories {
  position: relative;
  padding: 30rem 0;
}

.booking {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.book {
  background-image: url(../img/nat-10.jpg);
  background-size: 33.33333%;
  height: 50rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 5px 5px 5px;
          box-shadow: 5px 5px 5px 5px;
  opacity: .8;
}

.form {
  background-color: white;
  width: 50%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  opacity: .8;
  -webkit-transition: all 2s;
  transition: all 2s;
  padding: 6rem;
}

.form:active {
  opacity: 1;
  background-color: #777;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.footer {
  background-color: #333333;
  padding: 15rem 0;
  font-size: 1.4rem;
}

@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}

.footer__navigation {
  border-bottom: 2px solid white;
}

@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}

.footer__list {
  list-style-type: none;
}

.footer__item {
  display: inline-block;
  margin-right: 10px;
}

.footer__item:not(.footer__item:last-child) {
  margin-right: 1.5rem;
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #f7f7f7;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link:hover {
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem;
          box-shadow: 0 1rem 2rem;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 50px;
  -webkit-transition: all .1s;
  transition: all .1s;
  -webkit-box-shadow: 0 20px;
          box-shadow: 0 20px;
  border: none;
  cursor: pointer;
}

.button--white {
  background-color: #fff;
  color: #777;
}

.button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.button:active {
  -webkit-box-shadow: 0 0px;
          box-shadow: 0 0px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.button-text:link, .button-text:visited {
  color: #55c57a;
  background-color: f7f7f7;
  border: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.2rem;
}

.button-text:hover {
  background-color: #55c57a;
  color: #777;
  -webkit-box-shadow: 5px 5px 5px 5px;
          box-shadow: 5px 5px 5px 5px;
}

.button-text:active {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.header {
  position: relative;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0% 100%, 100% 75vh, 100% 0, 0 0);
          clip-path: polygon(0% 100%, 100% 75vh, 100% 0, 0 0);
}

@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 100%, 100% 85vh, 100% 0, 0 0);
            clip-path: polygon(0 100%, 100% 85vh, 100% 0, 0 0);
  }
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__text-box {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__logo {
  height: 35px;
}

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto;
  margin-bottom: 7.5rem;
}

.row .col-1-of-2 {
  width: calc((100% - 7.5rem) / 2);
  float: left;
}

.row .col-1-of-2:not(:last-child) {
  margin-right: 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .row .col-1-of-2 {
    width: 100% !important;
    margin-right: 0;
  }
}

.row .col-1-of-3 {
  width: calc((100% - 7.5rem - 7.5rem) / 3);
  float: left;
}

.row .col-1-of-3:not(:last-child) {
  margin-right: 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .row .col-1-of-3 {
    width: 100% !important;
    margin-right: 0;
  }
}

.row .col-2-of-3 {
  width: calc((100% - 7.5rem - 7.5rem) / 3 * 2 + 7.5rem);
  float: left;
  background-color: orangered;
}

.row .col-2-of-3:not(:last-child) {
  margin-right: 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .row .col-2-of-3 {
    width: 100% !important;
    margin-right: 0;
  }
}

.row .col-1-of-4 {
  width: calc((100% - 7.5rem - 7.5rem - 7.5rem) / 4);
  float: left;
}

.row .col-1-of-4:not(:last-child) {
  margin-right: 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .row .col-1-of-4 {
    width: 100% !important;
    margin-right: 0;
  }
}

.row .col-2-of-4 {
  width: calc((100% - 7.5rem - 7.5rem - 7.5rem) / 2 + 7.5rem);
  float: left;
  background-color: orangered;
}

.row .col-2-of-4:not(:last-child) {
  margin-right: 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .row .col-2-of-4 {
    width: 100% !important;
    margin-right: 0;
  }
}

.row .col-3-of-4 {
  width: calc((100% - 7.5rem - 7.5rem - 7.5rem) / 4 * 3 + 2 * 7.5rem);
  float: left;
  background-color: orangered;
}

.row .col-3-of-4:not(:last-child) {
  margin-right: 7.5rem;
}

@media only screen and (max-width: 56.25em) {
  .row .col-3-of-4 {
    width: 100% !important;
    margin-right: 0;
  }
}

.row::after {
  content: "";
  display: table;
}

.row:last-child {
  margin-bottom: 0;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.composition__photo--p1 {
  left: 0rem;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0rem;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}

.composition__photo:hover {
  z-index: 20;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border: 5px solid #55c57a;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
}

.composition:hover .composition__photo:not(:hover) {
  width: 45%;
}

.features-box {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  padding: 3rem 0;
  text-align: center;
  border-radius: .3rem;
  -webkit-box-shadow: 0 2rem 4rem;
          box-shadow: 0 2rem 4rem;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
}

.features-box__icon {
  font-size: 7rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url("../img/nat-4.jpg");
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  -webkit-background-clip: text;
  color: transparent;
}

.features-box:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card {
  -webkit-perspective: 200rem;
          perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
}

.card__side {
  position: absolute;
  background-color: orangered;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 50rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.card__side--front {
  background-color: #fff;
  left: 0%;
  top: 0%;
}

.card__side--back {
  background-color: lightblue;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  left: 0%;
  top: 0%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0000ff), to(#ff00ff));
  background-image: linear-gradient(to right bottom, #0000ff, #ff00ff);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.8)), to(rgba(255, 0, 255, 0.8))), url("../img/nat-5.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8)), url("../img/nat-5.jpg");
  height: 30%;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.8)), to(rgba(255, 0, 255, 0.8))), url("../img/nat-6.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8)), url("../img/nat-6.jpg");
  height: 30%;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.8)), to(rgba(255, 0, 255, 0.8))), url("../img/nat-7.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.8), rgba(255, 0, 255, 0.8)), url("../img/nat-7.jpg");
  height: 30%;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__heading {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  position: absolute;
  right: 0%;
  text-align: right;
  padding: 1rem;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  top: 20%;
  width: 75%;
}

.card__heading--span {
  background-image: -webkit-gradient(linear, left top, right top, from(blue), to(magenta));
  background-image: linear-gradient(to right, blue, magenta);
}

.card__details ul {
  list-style-type: none;
  margin-top: 10vh;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li {
  border-bottom: 1px solid #eee;
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.card__price-only {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
}

.card__price-box {
  margin-bottom: 8rem;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
  color: white;
}

.iconClass {
  font-size: 3rem !important;
  float: left !important;
}

.story {
  width: 70%;
  margin: 0 auto;
  -webkit-box-shadow: 5px 3px 5px 3px;
          box-shadow: 5px 3px 5px 3px;
  background-color: #fff;
  padding: 80px;
  font-size: 1.6rem;
  border-radius: 3px;
  -webkit-clip-path: polygon(0 100%, 90% 100%, 100% 0, 10% 0);
          clip-path: polygon(0 100%, 90% 100%, 100% 0, 10% 0);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  position: relative;
  background-color: orangered;
  float: left;
  -webkit-clip-path: circle(7.5rem at 50% 50%);
          clip-path: circle(7.5rem at 50% 50%);
  shape-outside: circle(7.5rem at 50% 50%);
}

.story__shape:hover .story__image {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-filter: blur(2px) brightness(70%) sepia(10%);
          filter: blur(2px) brightness(70%) sepia(10%);
}

.story__image {
  height: 100%;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  opacity: 0;
  font-size: 1.8rem;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -598237983278923748;
  opacity: .4;
}

.background-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__form__group__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  display: block;
}

.form__form__group__input:focus {
  border-color: #7ed56f;
  border-radius: 10px;
  outline: none;
}

.form__form__group__input::-webkit-input-placeholder {
  color: #addcd3;
}

.form__form__group__input:focus:invalid {
  border-color: red;
}

.form__form__group__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 4rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.form__form__group__input:placeholder-shown + .form__form__group__label {
  opacity: 0;
  visibility: hidden;
}

.form__form__radio {
  display: inline-block;
  width: 48%;
}

.form__form__group__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
}

.form__form__group__radio__button {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: -15%;
  left: -38%;
  border: 5px solid #7ed56f;
  border-radius: 50%;
  display: inline-block;
}

.form__form__group__radio__button::after {
  height: 1.5rem;
  width: 1.5rem;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #7ed56f;
  opacity: 0;
}

.form__form__group__radio-input:checked ~ .form__form__group__radio-label .form__form__group__radio__button::after {
  opacity: 1;
}

.form__form__group__radio-input {
  opacity: 0;
}

.navigation__checkbox {
  opacity: 0;
}

.navigation__button {
  background-color: #fff;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: fixed;
  right: 6rem;
  top: 6rem;
  z-index: 1000;
  -webkit-box-shadow: 0 1rem 3rem black;
          box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 500;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 800;
  opacity: 0;
  width: 0;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  border: solid white;
}

.navigation__item {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 10px;
  border-bottom: 5px solid white;
}

.navigation__link {
  text-decoration: none;
  color: white;
  font-weight: 300;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all 1s;
  transition: all 1s;
  display: inline-block;
}

.navigation__link:hover {
  background-position: 100%;
  color: black;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  -webkit-box-shadow: 1rem 1rem 1rem 1rem;
          box-shadow: 1rem 1rem 1rem 1rem;
}

.navigation__line-1 {
  border-radius: 1px;
  position: absolute;
  left: -2%;
  top: 12%;
  height: 1%;
  width: 42.5%;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  background-color: white;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.navigation__line-2 {
  border-radius: 1px;
  position: absolute;
  left: 59.5%;
  top: 12%;
  height: 1%;
  width: 42.5%;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  background-color: white;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.navigation__line-3 {
  border-radius: 1px;
  position: absolute;
  left: -2%;
  top: 88%;
  height: 1%;
  width: 42.5%;
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
  background-color: white;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.navigation__line-4 {
  border-radius: 1px;
  position: absolute;
  left: 59.5%;
  top: 88%;
  height: 1%;
  width: 42.5%;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  background-color: white;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navigation__checkbox:checked ~ .navigation__line-1 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}

.navigation__checkbox:checked .navigation__line-1 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navigation__checkbox:checked .navigation__line-2 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navigation__checkbox:checked .navigation__line-3 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navigation__checkbox:checked .navigation__line-4 {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navigation__icon {
  position: relative;
  margin-top: 50%;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #777777;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navigation__icon::before {
  top: -1rem;
}

.navigation__icon::after {
  top: 1rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1.5rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1.5rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before, .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  background-color: #777;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup {
  background-color: rgba(17, 17, 17, 0.9);
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  z-index: 298345723984723897238947;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.popup__content {
  position: fixed;
  width: 75%;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1rem;
  display: table;
  overflow: hidden;
}

.popup:target {
  visibility: visible;
  opacity: 1;
}

.popup__close:link, .popup__close:visited {
  color: #777;
  text-decoration: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 3rem;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.popup__close:link:hover, .popup__close:visited:hover {
  color: #7ed56f;
}

.popup__image {
  display: block;
  width: 100%;
}

.popup__left {
  width: 33.333333333333333333333333333%;
  display: table-cell;
}

.popup__right {
  width: 66.666666666666666666666666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup__text {
  font-size: 1.4rem;
  margin-bottom: 8rem;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-rule: 1px solid #777;
          column-rule: 1px solid #777;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
/*# sourceMappingURL=main.css.map */